/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(../fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(../fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(../fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(../fonts/IMFellDWPica-Italic.ttf)
}

a {
    text-decoration: none;
    color: black;
}
/*Page formatting*/
body {
    align-items: center;
    font-family: 'itallics';
    justify-items: center;
    background-image: url(../images/pattern.png);
    background-size: 350px;
}

.page {
    width: 21.0cm;
    height: 29.7cm;
    max-height: 29.7cm;
    margin: none;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    height: 90%;
    width: 80%;
    outline: #d34d00 solid 4px;
    background-image: url("../images/background.png");
    background-size: 100vh;
    justify-content: center;
    gap: 1.5em;
    padding: 3%;
}

.column {
    flex: 1;
}

/*text formatting*/
.text p, .poem p {
    margin-bottom: 1em;
}

.title {
    font-family: "title";
    font-size: 65px;
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-break: 0;
    text-align: center;
}

.subtitle {
    font-family: "title";
    font-size: 30px;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 0.5em;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.text {
    font-family: "text";
    font-size: 18px;
}

.paragraph::first-letter {
    font-family: "intitial";
    float: left;
    font-size: 80px;
    margin: 0 15px -10px 0;
}

.caption {
    font-family: "itallics";
    text-align: center;
    font-size: 15px;
}

.poem {
    font-family: "itallics";
    font-size: 16px;
    line-height: 1.4em;
}

.center {
    text-align: center;
}

.wrapper {
    border-bottom: black 1px solid;
}

