/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(../fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(../fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(../fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(../fonts/IMFellDWPica-Italic.ttf)
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

body {
    align-items: center;
    font-family: 'itallics';
    height: 100%;
    justify-items: center;
    background-image: url(../images/pattern.png);
    background-size: 350px;
}

.container {
    width: 40%;
    min-width: 700px;
    height: 100%;
    margin: auto;
    padding: 2% 3% 2% 3%;
    border: #d34d00 solid 4px;
    background-image: url("../images/background.png");
    background-size: 100vh;
    justify-content: center;
}

.text p, .poem p {
    margin-bottom: 1em;
}

.title {
    font-family: "title";
    font-size: 65px;
    margin-top: 0;
    padding-bottom: 5px;
    margin-bottom: 5px;
    line-break: 0;
    text-align: center;
}

.subtitle {
    font-family: "title";
    font-size: 30px;
    text-align: center;
    margin-bottom: -10px;
    margin-top: 0.5em;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.text {
    font-family: "text";
    font-size: 18px;
}

.paragraph::first-letter {
    font-family: "intitial";
    float: left;
    font-size: 80px;
    margin: 0 15px -10px 0;
}

.caption {
    font-family: "itallics";
    text-align: center;
    font-size: 15px;
}

.poem {
    font-family: "itallics";
    text-align: center;
    font-size: 15px;
    line-height: 1.4em;
}

.wrapper {
    border-bottom: black 1px solid;
}

@media screen and (max-width: 1000px) {
       .container {
        width: 70%;
        min-width: auto;
       }
}

@media print {
    .container {
    height: auto !important;
    min-height: 0;
    margin: 5% 0;
    width: 65%;
    max-width: 65%;
    min-width: 65%;
    }
  
    .new-page {
    page-break-before: always;
    }
    
    .title, .subtitle, .poem, .caption {
    page-break-inside: avoid;
    }

    .title, .subtitle {
    margin-top: 0.5in;
    }
  
    .subtitle {
    page-break-after: avoid;
    }
}