@font-face {
  font-family: headstone;
  src: url(./fonts/Headstone\ DEMO.ttf)
}

@font-face {
  font-family: headstone_itallics;
  src: url(./fonts/Headstone\ Italic\ DEMO.ttf)
}


body {
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: auto;
    height: 100%;
    min-height: 400px;
    align-items: center;
    justify-items: center;
    font-family: "headstone", "Courier New", monospace;
}

.container {
    position: relative;
    height: 95vh;
    min-height: 380px;
    width: 94%;
    min-width: 900px;
    margin: 0 2% 0 auto;
    border: solid 10px black;
    border-radius: 10px;
    z-index: 1000;
}

.sky {
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.arches {
    position: absolute;
    align-items: center;
    top: 0;
    max-width: 100%;
    height: 95%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 8;
    pointer-events: none;
}

.arches img {
    max-height: 95%;
}

.hillright {
    position: absolute;
    bottom: 20%;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

.cloud1 {
    position: absolute;
    left: 18%;
    top: 20%;
    z-index: 0;
    height: 20%;
}

.cloud1 img {
    height: 25vh;
}

.cloud2 {
    position: absolute;
    right: 17%;
    top: 35%;
    z-index: 0;
    height: 20%;
}

.cloud2 img {
    height: 19vh;
}

.hillleft {
    position: absolute;
    bottom: 27%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

.hillright .hillleft img {
    height: 25vh;
    min-height: 250px;
    width: auto;
}

.sun-wrapper {
    position: absolute;
    left: 38%;
    top: 30%;
}

.sun, .sun-blink {
    position: absolute;
    left: 0;
    top: 0;
}

.sun-caption {
    position: absolute;
    left: 11vh;
    width: 11vh;
    z-index: 9;
    display: none;
    pointer-events: none;
    font-size: 3vh;
}

.sun img, .sun-blink img {
    height: 20vh;
    min-height: 50px;
    max-height: 150px;
}

.sun-blink img {
    display: none;
}

.sun-wrapper:hover .sun-blink img, .sun-wrapper:hover .sun-caption {
    display: block;
}

.flowers {
    position: absolute;
    left: 30%;
    bottom: 17%;
    z-index: 5;
}

.flowers img {
    height: 15vh;
    min-height: 120px;
    max-height: 300px;
}

.house-wrapper {
    position: absolute;
    left: 5%;
    bottom: 16%;
    height: 30vh;
    min-height: 200px;
    z-index: 4;
}

.house, .house_open {
    position: absolute;
    left: 0;
    top: 0;
}

.house img, .house_open img {
    height: 25vh;
    min-height: 150px;
}

.house_open img {
    opacity: 0;
}

.house-wrapper:hover .house_open img {
    opacity: 1;
}

.dovecot-wrapper {
    position: absolute;
    bottom: 40%;
    width: 150px;
    height: 150px;
    right: 45%;
    z-index: 4;
    border: dashed 3px blue;
}

.dovecot-main, .dovecot-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.dovecot-text {

}

.dovecot-caption {
    position: absolute;
    bottom: 40%;
    height: 150px;
    width: 150px;
    right: 45%;
    z-index: 9;
    border: dashed 5px red;
    display: block;
    pointer-events: none;
    font-size: 40px;
}

.dovecot-main img, .dovecot-hover img {
    height: 35vh;
    min-height: 350px;
}

.dovecot-hover img {
    display: none;   
}
.dovecot-wrapper:hover .dovecot-hover img, .dovecot-wrapper:hover .dovecot-caption {
    display: block;
}

.floor {
    position: absolute;
    align-items: center;
    top: 85%;
    max-width: 100%;
    max-height: 15%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 5;
}

.floor img {
    width: 100%;
}

.garden {
    position: absolute;
    bottom: 20%;
    left: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

.garden img {
 max-height: 20%;
 min-height: 10%;
}

@media screen and (max-height: 950px) {

    .garden {
        bottom: 17%;
    }
}