@font-face {
  font-family: 'title';
  src: url(./fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(./fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(./fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(./fonts/IMFellDWPica-Italic.ttf)
}

.arches {
    position: absolute;
    align-items: center;
    top: 0;
    max-width: 100%;
    height: 95%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 8;
    pointer-events: none;
}

.arches img {
    max-height: 95%;
}

body {
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: auto;
    height: 100%;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    font-family: 'itallics';
    font-size: 30px;
}

.caption {
    background-image: url(./images/background.png);
    border: #eabb2d solid 3px;
    align-content: center;
    text-align: center;
    padding: 11px;
    line-height: 1.3;

}

.cloud1 {
    position: absolute;
    left: 5%;
    top: 20%;
    z-index: 0;
    height: 20%;
}

.cloud1 img {
    height: 25vh;
    min-height: 150px;
}

.cloud2 {
    position: absolute;
    right: 8%;
    top: 28%;
    z-index: 0;
    height: 20%;
}

.cloud2 img {
    height: 24vh;
    min-height: 150px;
}

.container {
    position: relative;
    height: 94vh;
    min-height: 600px;
    width: 94vw;
    min-width: 1100px;
    max-width: 1800px;
    left: 2vw;
    top: 2vh;
    border: solid 10px black;
    border-radius: 10px;
    z-index: 100;
    overflow: hidden;
}

.dovecot-caption {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
    display: none;
}

.dovecot-hover img {
    display: none;   
}

.dovecot-main, .dovecot-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.dovecot-main img, .dovecot-hover img {
    height: 50vh;
    min-height: 450px;
}

.dovecot-text {
    position: absolute;
    bottom: 5%;
    height: 300px;
    width: 150px;
    right: 17%;
    padding: 10px;
}

.dovecot-wrapper {
    position: absolute;
    bottom: 18%;
    width: 250px;
    height: 300px;
    right: 10%;
    z-index: 9;
}

.dovecot-wrapper:hover .dovecot-hover img,
.dovecot-wrapper:focus-within .dovecot-hover img {
    display: block;
}

.dovecot-wrapper:hover .dovecot-main img,
.dovecot-wrapper:focus-within .dovecot-main img {
    display: none;
}

.dovecot-wrapper:hover + .dovecot-text .dovecot-caption,
.dovecot-wrapper:focus-within + .dovecot-text .dovecot-caption {
    display: block;
    z-index: 8;
}

.floor {
    position: absolute;
    align-items: center;
    top: 85%;
    max-width: 100%;
    max-height: 15%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 5;
}

.floor img {
    width: 100%;
}

.flowers {
    position: absolute;
    left: 15%;
    bottom: 15%;
    z-index: 5;
}

.flowers img {
    height: 175px;
}

.garden {
    position: absolute;
    bottom: 20%;
    left: 0;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

.garden img {
    max-height: 20%;
    min-height: 10%;
}

.hillleft {
    position: absolute;
    bottom: 27%;
    left: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

.hillright {
    position: absolute;
    bottom: 20%;
    right: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

.hillright .hillleft img {
    height: 25vh;
    min-height: 250px;
    width: auto;
}

.house, .house_open {
    position: absolute;
    left: 0;
    top: 0;
}

.house-caption {
    position: absolute;
    display: none;
    width: 150px;
}

.house img, .house_open img {
    height: 220px;
    width: auto;
}

.house-text {
    position: absolute;
    width: 50px;
    height: 50px;
    z-index: 9;
    left: 10%;
    bottom: 60%;
}

.house-wrapper {
    position: absolute;
    left: 2%;
    bottom: 24%;
    height: 30px;
    min-height: 200px;
    z-index: 4;
}

.house_open img {
    opacity: 0;
}

.house-wrapper:hover .house_open img,
.house-wrapper:focus-within .house_open img {
    opacity: 1;
}

.house-link-wrapper:hover .house-caption,
.house-link-wrapper:focus-within .house-caption {
    display: block;
}

.sky {
    opacity: 0;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.sun, .sun-blink {
    position: absolute;
    left: 0;
    top: 0;
}

.sun img, .sun-blink img {
    height: 18vh;
    min-height: 120px;
}

.sun-blink img {
    display: none;
}

.sun-caption {
    position: absolute;
    left: 55%;
    width: 180px;
    z-index: 9;
    display: none;
}

.sun-text {
 border: none;
 padding: 0;
}

.sun-wrapper {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 120px;
    height: 120px;
}

.sun-wrapper:hover .sun-blink img,
.sun-wrapper:focus-within .sun-blink img,
.sun-wrapper:hover .sun-caption,
.sun-wrapper:focus-within .sun-caption {
    display: block;
}

.trees {
    position: absolute;
    right: 30%;
    bottom: 18%;
    z-index: 3;
}

.trees img {
    height: 300px;
}

@media screen and (max-height: 950px) {
    .garden {
        bottom: 17%;
    }
    .sun-caption {
        left: 52%
    }
}

