/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(./fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(./fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(./fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(./fonts/IMFellDWPica-Italic.ttf)
}

/* Body */
a {
    text-decoration: none;
    color: black;
}

body {
    align-items: center;
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: auto;
    font-family: 'itallics';
    font-size: 30px;
    height: 100%;
    justify-items: center;
    min-height: 500px;
}

/* Container */
.container {
    position: relative;
    border: solid 10px black;
    border-radius: 10px;
    height: 94vh;
    margin: auto;
    max-width: 1800px;
    min-height: 600px;
    min-width: 1100px;
    overflow: hidden;
    width: 94vw;
    z-index: 100;
}

/* Arches */
.arches {
    position: absolute;
    align-items: center;
    bottom: 10%;
    height: 900px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    pointer-events: none;
    z-index: 8;
}

.arches img {
    height: 100%;
    max-height: 150%;
}

/* Caption */
.caption {
    align-content: center;
    background-image: url(./images/background.png);
    border: #eabb2d solid 3px;
    line-height: 1.3;
    padding: 12px;
    text-align: center;
    font-size: 1em;
}

/* Clouds */
.cloud-1 {
    position: absolute;
    left: 5%;
    top: 20%;
    height: 20%;
    z-index: 0;
}

.cloud-1 img {
    height: 25vh;
    min-height: 150px;
}

.cloud-2 {
    position: absolute;
    right: 8%;
    top: 28%;
    height: 20%;
    z-index: 0;
}

.cloud-2 img {
    height: 24vh;
    min-height: 150px;
}

/* Dovecot */
.dovecot-wrapper {
    position: absolute;
    right: 10%;
    bottom: 18%;
    height: 300px;
    width: 250px;
    z-index: 9;
}

.dovecot-still {
    position: absolute;
    left: 0;
    top: 0;
}

.dovecot-still img {
    height: 50vh;
    min-height: 450px;
}

.dovecot-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.dovecot-hover img {
    display: none;
    height: 50vh;
    min-height: 450px;
}

.dovecot-caption {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    z-index: 9;
}

.dovecot-text {
    position: absolute;
    right: 250px;
    bottom: 4%;
    height: 300px;
    padding: 10px;
    width: 150px;
}

.dovecot-wrapper:hover .dovecot-hover img,
.dovecot-wrapper:focus-within .dovecot-hover img {
    display: block;
}

.dovecot-wrapper:hover .dovecot-still img,
.dovecot-wrapper:focus-within .dovecot-still img {
    display: none;
}

.dovecot-wrapper:hover + .dovecot-text .dovecot-caption,
.dovecot-wrapper:focus-within + .dovecot-text .dovecot-caption {
    display: block;
    z-index: 8;
}

/* Floor */
.floor {
    position: absolute;
    top: 85%;
    align-items: center;
    max-height: 15%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 5;
}

.floor img {
    width: 100%;
}

/* Flowers */
.flowers {
    position: absolute;
    left: 15%;
    bottom: 14%;
    z-index: 5;
}

.flowers img {
    height: 175px;
}

/* Garden */
.garden {
    position: absolute;
    left: 0;
    bottom: 18%;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 2;
}

.garden img {
    height: 20vh;
    min-height: 150px;
}

/* Hills */
.hill-1 {
    position: absolute;
    left: 0;
    bottom: 27%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 1;
}

.hill-1 img {
    height: 25vh;
    min-height: 250px;
    width: auto;
}

.hill-2 {
    position: absolute;
    right: 0;
    bottom: 20%;
    overflow-x: hidden;
    overflow-y: hidden;
    z-index: 0;
}

.hill-2 img {
    height: 25vh;
    min-height: 250px;
    width: auto;
}

/* Hive */
.hive-wrapper {
    position: absolute;
    left: 65%;
    bottom: 24%;
    height: 150px;
    width: 60px;
    z-index: 4;
}

.hive-still {
    position: absolute;
    left: 0;
    top: 0;
}

.hive-still img {
    height: 150px;
}

.hive-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.hive-hover img {
    display: none;
    height: 150px;
}

.hive-caption {
    position: absolute;
    left: calc(65% + 110px);
    bottom: calc(24% + 50px);
    display: none;
    width: 120px;
    z-index: 9;
    font-size: 17px !important;
}

.hive-text {
    border: none;
    padding: 0;
}

.hive-wrapper:hover .hive-hover img,
.hive-wrapper:focus-within .hive-hover img {
    display: block;
}

.hive-wrapper:hover + .hive-text .hive-caption,
.hive-wrapper:focus-within + .hive-text .hive-caption {
    display: block;
    z-index: 8;
}

.hive-wrapper:hover .hive-still img,
.hive-wrapper:focus-within .hive-still img {
    display: none;
} 

/* House */
.house-wrapper {
    position: absolute;
    left: 2%;
    bottom: 24%;
    height: 220px;
    z-index: 4;
}

.house-still {
    position: absolute;
    left: 0;
    top: 0;
}

.house-still img, .house-hover img {
    height: 220px;
    width: auto;
}

.house-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.house-hover img {
    display: none
}

.house-caption {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.house-text {
    position: absolute;
    left: 17%;
    bottom: 29%;
    height: 220px;
    width: 150px;
    display: none;
    z-index: 9;
}

.house-wrapper:hover .house-hover img,
.house-wrapper:focus-within .house-hover img {
    display: block;
}

.house-wrapper:hover ~ .house-text,
.house-wrapper:focus-within ~ .house-caption {
    display: block;
}

.house-wrapper:hover .house-still img,
.house-wrapper:focus-within .house-still img {
    display: none;
}

/* links */
.house-hover a,
.hive-hover a {
    pointer-events: none;
}

.house-wrapper:hover .house-hover a,
.house-wrapper:focus-within .house-hover a,
.hive-wrapper:hover .hive-hover a,
.hive-wrapper:focus-within .hive-hover a {
    pointer-events: auto;
}

/* Sky */
.sky {
    max-height: 100%;
    max-width: 100%;
    opacity: 0;
    overflow: hidden;
}

/* Sun */
.sun-wrapper {
    position: absolute;
    left: 30%;
    top: 30%;
    height: 120px;
    width: 120px;
}

.sun-still {
    position: absolute;
    left: 0;
    top: 0;
}

.sun-still img {
    height: 18vh;
    min-height: 120px;
}

.sun-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.sun-hover img {
    display: none;
    height: 18vh;
    min-height: 120px;
}

.sun-caption {
    position: absolute;
    left: 190px;
    top: -30px;
    display: none;
    width: 180px;
    z-index: 9;

}

.sun-text {
    border: none;
    padding: 0;
}

.sun-wrapper:hover .sun-hover img,
.sun-wrapper:focus-within .sun-hover img {
    display: block;
}

.sun-wrapper:hover .sun-caption,
.sun-wrapper:focus-within .sun-caption {
    display: block;
}

/* Trees */
.trees {
    position: absolute;
    right: 32%;
    bottom: 20%;
    z-index: 3;
}

.trees img {
    height: 450px;
}

/* Media Queries */
@media screen and (max-width: 950px) {
    
    html {
        height: 100vh;
        max-height: 100vh;
        min-height: 100vh;
        overflow-y: hidden;
    }
    
    body {
        height: 100vh;
        max-height: 100vh;
        min-height: 100vh;
        overflow-y: hidden;
    }
    
    p {
        margin-bottom: 10px;
    }
    
    .arches {
        top: auto;
        bottom: 7%;
        height: 800px;
    }

    .arches img {
        max-height: 130%;
    }

    .caption {
        font-size: 20px;
        max-width: 100px;
    }
    
    .cloud-1 {
        left: 2%;
        top: 10%;
    }

    .cloud-1 img, .cloud-2 img {
        height: 100px;
    }

    .cloud-2 {
        right: 2%;
        top: 14%;
    }

    .container {
        height: 90vh;
        max-height: 90vh;
        min-height: 90vh;
        border: none;
        margin: none;
    }

    .dovecot-wrapper {
        right: 5%;
    }

    .dovecot-text {
        right: 100px;
        bottom: 0;
    }
    
    .flowers {
        left: 20%;
    }

    .flowers img {
        height: 150px;
    }

    .garden {
        bottom: 17%;
    }

    .hive-wrapper {
        bottom: 15%;
        left: 68%;
    }
    
    .hive-hover img, .hive-still img {
    height: 100px;
    width: 78px;
    }

    .hive-caption {
    position: absolute;
    left: calc(68% + 70px);
    bottom: calc(18% + 50px);
    }

    .house-wrapper {
        bottom: 19%;
    }

    .house-still img, .house-hover img {
        height: 190px;
    }

    .sun-caption {
        left: 120px
    }

    .trees img {
        height: 350px;
    }

}