/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(../fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(../fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(../fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(../fonts/IMFellDWPica-Italic.ttf)
}

/* Base Styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url(../images/pattern.png);
    background-repeat: repeat;
    background-size: 500px;
    color: #2c2416;
    font-family: 'text';
    line-height: 1.4;
    height: 100vh;
    max-height: 100vh;
    overflow: hidden;
}

p {
    color: #3d3428;
    font-size: 12px;
    text-align: left;
}

/* Shared Caption Styles */
.caption {
    align-content: center;
    background-image: url(./images/background.png);
    border: #eabb2d solid 3px;
    line-height: 1.3;
    padding: 12px;
    text-align: center;
    font-size: 1em;
}

/* Shared Interactive Link Styles */
.hive-hover a {
    pointer-events: none;
}

.hive-wrapper:hover .hive-hover a,
.hive-wrapper:focus-within .hive-hover a {
    pointer-events: auto;
}

/* Layout */

.screen {
    position: relative;
    height: 100%;
    width: 100%;
}

.back-wrapper {
    position: fixed;
    right: 4%;
    bottom: 6%;
    height: 240px;
    z-index: 25
}

.back-wrapper img {
    height: 240px;
}

.back-wrapper:hover img {
    transform: rotate(-3deg);
}

.caption-box {
    background: url(../images/background.png);
    position: absolute;
    outline: solid #eabb2d 8px;
    height: fit-content;
    width: 300px;
    height: 480px;
    bottom: 15%;
    right: 65%;
    z-index: 2;
}

/* texts */
.text-padding {
    margin: 20px;
    width: auto;
    height: auto;
}

.text {
    padding: 0 20px;
    font-size: 15px;
}

.title {
    text-align: center;
    padding: 10px 20px;
    font-family: "title";
    font-size: 45px;
    margin: -20px 0 -15px 0;
}

.paragraph::first-letter {
    float: left;
    font-family: 'initial';
    font-size: 110px;
    line-height: 1;
    margin-bottom: -20px;
    margin-right: 10px;
}

.frame {
    position: relative;
    background: url(../images/background.png);
    overflow: hidden;
    width: 50%;
    min-width: 800px;
    height: 50%;
    min-height: 400px;
    margin: auto;
    top: 25%;
    z-index: 0;

    --hive-left: 82%;
    --hive-bottom: 4%;
}

.frame-outline {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    pointer-events: none;
}

.frame-outline img {
    width: 100%;
    height: 100%;
}

.photo {
    outline: 8px solid #2f7b94;
    position: absolute;
    top: 20%;
    left: 70%;
    height: 240px;
    width: 160px;
    z-index: 2;
    overflow: hidden;
}

.photo img {
    max-height: 100%;
}


/* Frame Items */
.cloud {
    position: absolute;
    left: 15%;
    top: 2%;
}

.cloud img {
    height: 150px;
}

.fence {
    position: absolute;
    left: 15%;
    bottom: 5%;
    z-index: 9;
    rotate: 12deg;
}

.fence img {
    height: 100px;
}

.tree {
    position: absolute;
    left: 40%;
    bottom: 5%;
}

.tree img {
    height: 340px;
}

.yard {
    position: absolute;
    bottom: -10px;
    left: 0;
}

.yard img {
    height: 220px;
}

/* Mobile Items */

   .hive-wrapper {
        position: absolute;
        left: var(--hive-left);
        bottom: var(--hive-bottom);
        height: 150px;
        width: 60px;
        z-index: 4;
    }

    .hive-still {
        position: absolute;
        left: 0;
        top: 0;
    }

    .hive-still img {
        height: 150px;
    }

    .hive-hover {
        position: absolute;
        left: 0;
        top: 0;
    }

    .hive-hover img {
        display: none;
        height: 150px;
    }

    .hive-caption-wrapper {
        position: absolute;
        left: calc(var(--hive-left) - 130px);
        bottom: calc(var(--hive-bottom) + 20px);
        width: 130px;
        z-index: 9;
    }

    .hive-caption {
        display: none;
        padding: 10px 3px;
        font-size: 17px;
        background: url(../images/background.png);
    }

    .hive-wrapper:hover .hive-hover img,
    .hive-wrapper:focus-within .hive-hover img {
        display: block;
    }

    .hive-wrapper:hover + .hive-caption-wrapper .hive-caption,
    .hive-wrapper:focus-within + .hive-caption-wrapper .hive-caption {
        display: block;
        z-index: 8;
    }

    .hive-wrapper:hover .hive-still img,
    .hive-wrapper:focus-within .hive-still img {
        display: none;
    } 

    /* Sun */
    .sun-wrapper {
        position: absolute;
        right: 17%;
        top: 15%;
        height: 120px;
        width: 120px;
    }

    .sun-still {
        position: absolute;
        left: 0;
        top: 0;
    }

    .sun-still img, .sun-hover img {
        height: 130px;
    }

    .sun-hover {
        position: absolute;
        left: 0;
        top: 0;
    }

    .sun-hover img {
        display: none;
    }

    .sun-wrapper:hover .sun-hover img,
    .sun-wrapper:focus-within .sun-hover img {
        display: block;
    }

    .sun-wrapper:hover .sun-still img,
    .sun-wrapper:focus-within .sun-still img {
        display: none;
    }

/* Media Queries */
@media (max-width: 950px) {

    body {
        background-size: 300px;
        height: 100%;
        max-height: 100%;
    }

    .back-wrapper {
        position: fixed;
        right: 30px;
        bottom: 30px;
        height: 140px;
        z-index: 25;
    }
    
    .back-wrapper img {
        height: 100%;
    }

    .caption-box {
        display: flex;
        position: static;
        height: fit-content;
        width: 70%;
        max-width: 600px;
    }

    .frame {
        display: none;
    }

    .photo {
        display: none;
    }
        
    .text {
        font-size: 12px;
    }

    .paragraph::first-letter {
        font-size: 50px;
    }

    .screen {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-content: center;
        justify-items: center;
    }

    .title {
        font-size: 25px;
    }
}