@font-face {
  font-family: headstone;
  src: url(../fonts/Headstone\ DEMO.ttf)
}

@font-face {
  font-family: headstone_itallics;
  src: url(../fonts/Headstone\ Italic\ DEMO.ttf)
}

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: helvetica;
            background-image: url("../images/pattern.png");
            background-repeat: repeat;
            background-size: 500px;
            color: #2c2416;
            line-height: 1.6;
        }

        .pagesplit {
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: column;
            width: 40%;
            gap: 30px;
            margin: 2% auto 2% auto;
            margin-top: 2%;
        }

        .feed {
            display: flex;
            height: fit-content;
            overflow-y: auto;          
        }

        .sticky {
            background-image: url(../images/background.png);
            position: sticky;
            left: 0;
            top: 2%;
            height: 10vh;
            min-height: 100px;
            width: 100%;
            border: solid 6px #b23e28
        }

        .post {
            background-color: #fff;
            margin-bottom: 3rem;
            border: 8px solid #2f7b94;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            cursor: pointer;
        }

        .post-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
            border-bottom: 1px solid #d4c5a9;
        }

        .post-content {
            padding: 2rem;
        }

        .post-title-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 0.5rem;
            margin-bottom: 2%;
            text-align: center;
        }

        .post-title {
            font-size: 60px;
            color: #2c2416;
            margin: 0 0 -2% 0;
            font-family: "headstone_itallics";
            text-align: center;
        }

        .post-meta {
            color: #6b5d4f;
            font-size: 13px;
            margin-bottom: 5%;
            font-family: "headstone_itallics";
        }

        .post-summary {
            color: #3d3428;
            margin-bottom: 5%;
            font-size: 16px;
            text-align: left;
        }

        .post-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        .tag {
            background-color: #e8dcc4;
            color: #4a3f2e;
            padding: 0.3rem 0.8rem;
            font-size: 0.85rem;
            border-radius: 3px;
            border: 1px solid #d4c5a9;
        }


        .sofa, .sofa-blink {
            position: absolute;
            left: 0;
            top: 0;
        }

        .sofa img, .sofa-blink img {
            height: 40vh;
            min-height: 250px;
        }

        .sofa-blink img {
            display: none;
        }

        .sofa-wrapper {
            position: absolute;
            left: 5%;
            bottom: 10%;
            width: 40vh;
            height: 40vh;
        }

        .sofa-wrapper:hover .sofa-blink img, .sofa-wrapper:focus-within .sofa-blink img {
            display: block
        }

        .sofa-wrapper:hover .sofa img, .sofa-wrapper:focus-within .sofa img {
            display: none
        }

        @media (max-width: 768px) {

            body {
                background-size: 300px;
            }
            
            .sticky {
                position: relative;
                height: 400px;
            }

            .sofa-wrapper {
                left: 20px;
                bottom: -150px;
                width: 100%;
                height: 400px;
            }

            .sofa img, .sofa-blink img {
                height: 220px;
                min-height: 220px;
            }

            .pagesplit {
                width: 80%;
            }

            .post-content {
                font-size: 10px;
            }

            .post-title {
                font-size: 50px;
            }

            .post-image {
                height: 200px;
            }
        }