/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(../fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(../fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(../fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(../fonts/IMFellDWPica-Italic.ttf)
}

/* Base Styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-size: 500px;
    color: #2c2416;
    font-family: 'text';
    line-height: 1.4;
}

p {
    color: #3d3428;
    font-size: 16px;
    text-align: left;
}

/* Layout */
.pagesplit {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    margin: 2% auto 0 auto;
    text-align: center;
    width: 90%;
}

.left-side {
    position: sticky;
    display: flex;
    flex-direction:column;
    top: 2%;
    height: 88vh;
    gap: 3%;
    min-width: 470px;
    overflow: hidden;
}

/* Framework */
.framework {
    position: relative;
    height: 80%;
    overflow: hidden;
    background-image: url(../images/background.png);
    border: 6px solid #eabb2d;
    flex-grow: 1;
}

/* Chair */
.chair-wrapper {
    position: absolute;
    left: 5%;
    bottom: 5%;
    height: 280px;
    width: 280px;
    z-index: 8;
}

.chair-still {
    position: absolute;
    left: 0;
    top: 0;
}

.chair-still img {
    max-width: 280px;
}

.chair-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.chair-hover img {
    display: none;
    max-width: 280px;
}

.chair-wrapper:hover .chair-hover img,
.chair-wrapper:focus-within .chair-hover img {
    display: block;
}

.chair-wrapper:hover .chair-still img,
.chair-wrapper:focus-within .chair-still img {
    display: none;
}

/* Desk */
.desk-wrapper {
    position: absolute;
    right: -5%;
    bottom: 15%;
    height: 400px;
    width: 150px;
    z-index: 10;
}

.desk-still {
    position: absolute;
    left: 0;
    top: 0;
}

.desk-still img {
    height: 50vh;
    max-height: 400px;
    min-height: 180px;
}

.desk-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.desk-hover img {
    display: none;
    height: 50vh;
    max-height: 400px;
    min-height: 180px;
}

.desk-wrapper:hover .desk-hover img,
.desk-wrapper:focus-within .desk-hover img {
    display: block;
}

.desk-wrapper:hover .desk-still img,
.desk-wrapper:focus-within .desk-still img {
    display: none;
}

/* Floor */
.floor {
    position: absolute;
    top: 68%;
    z-index: 0;
}

.floor img {
    width: 100%;
}

/* links */
.portrait-hover a {
    pointer-events: none;
}

.portrait-wrapper:hover .portrait-hover a,
.portrait-wrapper:focus-within .portrait-hover a {
    pointer-events: auto;
}

/* Portrait */
.portrait-wrapper {
    position: absolute;
    left: 10%;
    top: 5%;
    height: 120px;
    width: 120px;
}

.portrait-still {
    position: absolute;
    left: 0;
    top: 0;
}

.portrait-still img, .portrait-hover img{
    height: 30vh;
    min-height: 220px;
}

.portrait-hover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.portrait-caption {
    position: absolute;
    left: 22vh;
    height: fit-content;
    align-content: center;
    background-image: url(../images/background.png);
    border: solid #eabb2d 3px;
    color: #3d3428;
    display: none;
    padding: 0 10px;
    pointer-events: none;
    width: 150px;
    z-index: 9;
}

.portrait-text {
    border: none;
    color: #3d3428;
    font-family: 'itallics';
    font-size: 20px;
    text-align: center;
}

.portrait-wrapper:hover .portrait-caption,
.portrait-wrapper:focus-within .portrait-caption,
.portrait-wrapper:hover .portrait-hover,
.portrait-wrapper:focus-within .portrait-hover {
    display: block;
}

.portrait-wrapper:hover .portrait-still,
.portrait-wrapper:focus-within .portrait-still {
    display: none;
}

/* Quote */
.quote {
    color: #3d3428;
    font-family: 'text';
    font-size: 20px;
    margin-top: -20px;
    text-align: center;
}

/* menu */
.menu {
    display: flex;
    margin: 0;
    padding: 0;
    border: #d34d00 solid 6px;
    position: flex;
    flex-direction: row;
    background-color: white;
    height: 8%;
    min-height: 60px;
    justify-content: space-evenly;
    align-items: center;
    gap: 6px;
    width: 100%;
}

.menu-item a {
  text-decoration: none;
  color: black;
  flex: 1;
  height: 100%;
  padding: auto;
  align-items: center;
  justify-content: center;
  font-family: "title";
  padding: 0;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
}

.menu-item a:hover {
    padding: auto;
    color: #3d3428;
    height: 100%;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

.even:hover {
    rotate: -3deg;
}

.odd:hover {
    rotate: 3deg;
}

/* Feed */
.feed {
    display: flex;
    flex: 3;
    flex-direction: column;
    height: fit-content;
    min-width: 50%;
    overflow-y: auto;
}

/* article */
.post {
    background-color: #fff;
    border: 8px solid #2f7b94;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
}

.post-content {
    padding: 2rem;
}

.post-image {
    border-bottom: 1px solid #d4c5a9;
    display: block;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.post-meta {
    color: #6b5d4f;
    font-family: "itallics";
    font-size: 13px;
    margin-bottom: 5%;
}

.post-summary p {
    color: #3d3428;
    font-size: 16px;
    margin-bottom: 1.5em;
    text-align: left;
}

.paragraph:first-letter {
    float: left;
    font-family: 'initial', 'Courier New', Courier, monospace;
    font-size: 7em;
    margin: 20px 15px 0.3em 0;
    line-height: 0;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;;
    text-align: center;
}

.post-title {
    color: #2c2416;
    cursor: pointer;
    font-family: 'title';
    font-size: 60px;
    margin: 0 0 -2% 0;
    text-align: center;
}

.post-title-wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2%;
}

/* Tag */
.tag {
    background-image: url(../images/background.png);
    border: 3px solid #2f7b94;
    border-radius: 15px;
    color: #4a3f2e;
    font-size: 0.85em;
    padding: 0.5em 1em;
    cursor: pointer;

}

.tag:hover {
    border: dotted;
}

/* Media Queries */
@media (max-width: 950px) {

    body {
        background-size: 300px;
    }

    .pagesplit {
        flex-direction: column;
        gap: 25px;
        width: 90%;
    }

    .left-side {
        display: block;
        margin-top: 25px;
        min-width: 1px;
        position: relative;
        width: 100%;
        height: fit-content;
    }

    .framework {
        max-height: 350px;
        min-height: 350px;
    }

    .menu {
        height: 150px;
    }

    .chair-wrapper {
        display: none;
    }

    .desk-wrapper {
        right: 0;
        bottom: 20px;
        height: 200px;
        width: 75px;
    }

    .desk-still img, .desk-hover img {
        height: 200px;
    }

    .floor img {
        width: 100%;
    }

    .menu {
        margin-top: 20px;
        height: 60px;
        font-size: 13px;
        padding: 5px 8px;
    }

    .portrait-wrapper {
        left: 8%;
        top: 6%;
    }

    .portrait-still img, .portrait-hover img {
        height: 180px;
        max-height: 180px;
        min-height: 180px;
    }

    .portrait-caption {
        left: auto;
        right: -80px;
        top: -10px;
        max-width: 100px;
        z-index: 0;
    }

    .portrait-text, .quote {
        font-size: 14px;
    }

    .post {
        width: 100%;
    }

    .post-content {
        font-size: 10px;
    }

    .post-image {
        height: 150px;
        width: 100%;
    }

    .post-summary p {
        font-size: 14px;
    }

    .post-summary::first-letter {
        font-size: 50px;
    }

    .post-tags {
        margin-top: 15px;
    }

    .post-title {
        font-size: 35px;
    }

    .tag {
        padding: 8px;
        font-size: 12px;
    }

    .top {
        display: none;
    }

}