@font-face {
  font-family: headstone;
  src: url(../fonts/Headstone\ DEMO.ttf)
}

@font-face {
  font-family: headstone_itallics;
  src: url(../fonts/Headstone\ Italic\ DEMO.ttf)
}

* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: helvetica;
            background-image: url("../images/pattern.png");
            background-repeat: repeat;
            background-size: 500px;
            color: #2c2416;
            line-height: 1.6;
        }
        
        .pagesplit {
            display: flex;
            text-align: center;
            justify-content: center;
            flex-direction: row;
            width: 90%;
            gap: 5%;
            margin: 4% auto 4% auto;
            align-items: flex-start;
        }

        .framework {
            position: sticky;
            border:  6px solid #eabb2d;
            top: 4%;
            flex: 1;
            height: 88vh;
            background-image: url(../images/background.png);
            overflow: hidden;
        }

        .floor {
            position: absolute;
            top: 68%;
            z-index: 0;
        }

        .desk {
            position: absolute;
            bottom: 14%;
            right: 5%;
            z-index: 8;
        }

        .desk img {
            height: 50vh;
            min-height: 180px;
        }

        .desk:hover img {
            transform: rotate(-2deg)
        }

        .floor img {
            width: 100%;
        }
        
        .chair, .chair-blink {
            position: absolute;
            left: 0;
            top: 0;
        }

        .chair img, .chair-blink img {
            height: 40vh;
            min-height: 250px;
        }

        .chair-blink img {
            display: none;
        }

        .chair-wrapper {
            position: absolute;
            left: 5%;
            bottom: 5%;
            width: 40vh;
            height: 40vh;
            z-index: 8;
        }

        .chair-wrapper:hover .chair-blink img, .chair-wrapper:focus-within .chair-blink img {
            display: block
        }

        .chair-wrapper:hover .chair img, .chair-wrapper:focus-within .chair img {
            display: none
        }

        .portrait {
        position: absolute;
        left: 0;
        top: 0;
        }

        .portrait img {
            height: 38vh;
            min-height: 220px;
        }

        .portrait:hover img {
            transform: rotate(-2deg)
        }

        .portrait-caption {
            position: absolute;
            left: 70%;
            width: 180px;
            z-index: 9;
            display: none;
            pointer-events: none;
            font-size: 34px;
            background-image: url(../images/background.png);
            border: dotted #eabb2d 3px;
            color: black;
            align-content: center;
            text-align: center;
            font-family: 'headstone_itallics';
        }


        .portrait-text {
        border: none;
        }

        .portrait-wrapper {
            position: absolute;
            left: 10%;
            top: 5%;
            width: 120px;
            height: 120px;
        }

        .portrait-wrapper:hover .portrait-caption,
        .portrait-wrapper:focus-within .portrait-caption {
            display: block;
        }

        .feed {
            display: flex;
            flex-direction: column;
            height: fit-content;
            overflow-y: auto;   
            flex: 1;
            min-width: 50%;       
        }

        .post {
            background-color: #fff;
            margin-bottom: 3rem;
            border: 8px solid #2f7b94;
            box-shadow: 0 2px 8px rgba(0,0,0,0.1);
            cursor: pointer;
        }

        .post-image {
            width: 100%;
            height: 300px;
            object-fit: cover;
            display: block;
            border-bottom: 1px solid #d4c5a9;
        }

        .post-content {
            padding: 2rem;
        }

        .post-title-wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 0.5rem;
            margin-bottom: 2%;
        }

        .post-title {
            font-size: 60px;
            color: #2c2416;
            margin: 0 0 -2% 0;
            font-family: "headstone_itallics";
            text-align: center;
        }

        .post-meta {
            color: #6b5d4f;
            font-size: 13px;
            margin-bottom: 5%;
            font-family: "headstone_itallics";
        }

        .post-summary {
            color: #3d3428;
            margin-bottom: 5%;
            font-size: 16px;
            text-align: left;
        }

        .post-tags {
            display: flex;
            flex-wrap: wrap;
            gap: 0.5rem;
        }

        .tag {
            background-color: #e8dcc4;
            color: #4a3f2e;
            padding: 0.3rem 0.8rem;
            font-size: 0.85rem;
            border-radius: 3px;
            border: 1px solid #b23e28;
        }

        @media (max-width: 1050px) {

            body {
                background-size: 300px;
            }
            
            .framework {
                min-height: 450px;
                width: 100%;
                position: relative;
                display: block;
            }

            .floor img {
                width: 100%;
            }
            
            .portrait img {
            height: 28vh;
            min-height: 140px;
            }

            .portrait-caption {
            left: 55%;
            font-size: 25px;
            max-width: 120px;
            }

            .desk img {
                height: 25vh;
                min-height: 120px;
            }

            .chair-wrapper {
                width: 25vh;
                height: 25vh;
                min-height: 140px;
                bottom: 10%;
            }
        
            .chair img, .chair-blink img {
                height: 30vh;
                min-height: 140px;
            }

            .pagesplit {
                width: 80%;
                flex-direction: column;
                gap: 50px;
            }

            .post-content {
                font-size: 10px;
            }

            .post-title {
                font-size: 50px;
            }

            .post-image {
                height: 200px;
            }
        }