/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(../fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(../fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(../fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(../fonts/IMFellDWPica-Italic.ttf)
}

/* Base Styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-size: 500px;
    color: #2c2416;
    font-family: 'text';
    line-height: 1.6;
}

p {
    color: #3d3428;
    font-size: 16px;
    text-align: left;
}

/* Layout */
.pagesplit {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 5%;
    justify-content: center;
    margin: 4% auto 4% auto;
    text-align: center;
    width: 90%;
}

/* Framework */
.framework {
    position: sticky;
    top: 4%;
    background-image: url(../images/background.png);
    border: 6px solid #eabb2d;
    flex: 1;
    height: 88vh;
    min-width: 550px;
    overflow: hidden;
}

/* Chair */
.chair-wrapper {
    position: absolute;
    left: 5%;
    bottom: 5%;
    height: 40vh;
    width: 40vh;
    z-index: 8;
}

.chair-still {
    position: absolute;
    left: 0;
    top: 0;
}

.chair-still img {
    height: 40vh;
    min-height: 250px;
}

.chair-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.chair-hover img {
    display: none;
    height: 40vh;
    min-height: 250px;
}

.chair-wrapper:hover .chair-hover img,
.chair-wrapper:focus-within .chair-hover img {
    display: block;
}

.chair-wrapper:hover .chair-still img,
.chair-wrapper:focus-within .chair-still img {
    display: none;
}

/* Desk */
.desk-wrapper {
    position: absolute;
    right: 0;
    bottom: 15%;
    height: 50vh;
    width: 150px;
    z-index: 8;
}

.desk-still {
    position: absolute;
    left: 0;
    top: 0;
}

.desk-still img {
    height: 50vh;
    max-height: 450px;
    min-height: 180px;
}

.desk-hover {
    position: absolute;
    left: 0;
    top: 0;
}

.desk-hover img {
    display: none;
    height: 50vh;
    max-height: 450px;
    min-height: 180px;
}

.desk-wrapper:hover .desk-hover img,
.desk-wrapper:focus-within .desk-hover img {
    display: block;
}

.desk-wrapper:hover .desk-still img,
.desk-wrapper:focus-within .desk-still img {
    display: none;
}

/* Floor */
.floor {
    position: absolute;
    top: 68%;
    z-index: 0;
}

.floor img {
    width: 100%;
}

/* links */
.portrait-hover a {
    pointer-events: none;
}

.portrait-wrapper:hover .portrait-hover a,
.portrait-wrapper:focus-within .portrait-hover a {
    pointer-events: auto;
}

/* Portrait */
.portrait-wrapper {
    position: absolute;
    left: 10%;
    top: 5%;
    height: 120px;
    width: 120px;
}

.portrait-still {
    position: absolute;
    left: 0;
    top: 0;
}

.portrait-still img {
    height: 34vh;
    min-height: 220px;
}

.portrait-hover {
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.portrait-hover img {
    height: 34vh;
    min-height: 220px;
}

.portrait-caption {
    position: absolute;
    left: 24vh;
    align-content: center;
    background-image: url(../images/background.png);
    border: solid #eabb2d 3px;
    color: #3d3428;
    display: none;
    padding: 0 10px;
    pointer-events: none;
    width: 180px;
    z-index: 9;
}

.portrait-text {
    border: none;
    color: #3d3428;
    font-family: 'itallics';
    font-size: 30px;
    text-align: center;
}

.portrait-wrapper:hover .portrait-caption,
.portrait-wrapper:focus-within .portrait-caption,
.portrait-wrapper:hover .portrait-hover,
.portrait-wrapper:focus-within .portrait-hover {
    display: block;
}

.portrait-wrapper:hover .portrait-still,
.portrait-wrapper:focus-within .portrait-still {
    display: none;
}

/* Quote */
.quote {
    color: #3d3428;
    font-family: 'text';
    font-size: 25px;
    margin-top: -20px;
    text-align: right;
}

/* Feed */
.feed {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: fit-content;
    min-width: 50%;
    overflow-y: auto;
}

/* Post */
.post {
    background-color: #fff;
    border: 8px solid #2f7b94;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 3rem;
}

.post-content {
    padding: 2rem;
}

.post-image {
    border-bottom: 1px solid #d4c5a9;
    display: block;
    height: 300px;
    object-fit: cover;
    width: 100%;
}

.post-meta {
    color: #6b5d4f;
    font-family: "itallics";
    font-size: 13px;
    margin-bottom: 5%;
}

.post-summary p {
    color: #3d3428;
    font-size: 16px;
    margin-bottom: 1.5em;
    text-align: left;
}

.post-summary::first-letter {
    float: left;
    font-family: 'initial';
    font-size: 110px;
    line-height: 1;
    margin-bottom: -10px;
    margin-right: 10px;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;;
    text-align: center;
}

.post-title {
    color: #2c2416;
    cursor: pointer;
    font-family: 'title';
    font-size: 60px;
    margin: 0 0 -2% 0;
    text-align: center;
}

.post-title-wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2%;
}

/* Tag */
.tag {
    background-image: url(../images/background.png);
    border: 3px solid #2f7b94;
    border-radius: 15px;
    color: #4a3f2e;
    font-size: 0.85em;
    padding: 0.3em 0.5em;
    cursor: pointer;

}

.tag:hover {
    border: dotted;
}

/* Media Queries */
@media (max-width: 950px) {

    body {
        background-size: 300px;
    }

    .pagesplit {
        flex-direction: column;
        gap: 25px;
        width: 90%;
    }

    .framework {
        display: block;
        margin-top: 25px;
        min-height: 450px;
        min-width: 1px;
        position: relative;
        width: 100%;
    }

    .chair-wrapper {
        display: none;
    }

    .desk-wrapper {
        right: 5%;
        bottom: 70px;
        height: 200px;
        width: 75px;
    }

    .desk-still img, .desk-hover img {
        height: 240px;
    }

    .floor img {
        width: 100%;
    }

    .portrait-wrapper {
        left: 8%;
        top: 6%;
    }

    .portrait-still img, .portrait-hover img {
        height: 200px;
        max-height: 100px;
        min-height: 200px;
    }

    .portrait-caption {
        left: auto;
        right: -80px;
        top: -10px;
        max-width: 110px;
        z-index: 2;
    }

    .portrait-text, .quote {
        font-size: 16px;
    }

    .post {
        width: 100%;
    }

    .post-content {
        font-size: 10px;
    }

    .post-image {
        height: 150px;
        width: 100%;
    }

    .post-summary p {
        font-size: 14px;
    }

    .post-summary::first-letter {
        font-size: 50px;
    }

    .post-tags {
        margin-top: 15px;
    }

    .post-title {
        font-size: 35px;
    }

    .tag {
        padding: 8px;
        font-size: 12px;
    }

}