body {
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: auto;
    height: 100%;
    max-width: 100vw;
    min-height: 400px;
    align-items: center;
    justify-items: center;
}

.fields {
    position: absolute;
    left: 0;
    bottom: 0;
    max-width: 100%;
    overflow-x: hidden;
}

.forest {
    position: absolute;
    left: 0;
    top: 30%;
    max-width: 100%;
    overflow-x: hidden;  
}