@font-face {
  font-family: headstone;
  src: url(../fonts/Headstone\ DEMO.ttf)
}

@font-face {
  font-family: headstone_itallics;
  src: url(./fonts/Headstone\ Italic\ DEMO.ttf)
}

body {
    background-image: url(../images/background.png);
    align-items: center;
    justify-items: center;
    font-family: "headstone", "Courier New", monospace;
}

.page-wrapper {
    width: 90%;
    height: 94vh;
    margin: 3% 5%;
    background-color: hsla(0 100% 100% / 0.3);
    border-radius: 15px;
    border: dotted blue 1px;
    overflow: hidden;
}

.page-split {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.topnav {
  display: flex;
  height: 50px;
  justify-items: center;
  background-color: lightgrey;
  column-gap: 20%;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  color: black;
}

.topnav a:hover {
  background: lightgrey;
  border: white solid 1px;  
}

.image-container {
  height: 500px;
  position: relative;
  float: right;
  margin: 15px;
  width: 500px;
}

.image-still {
  display: block;
}

.image-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image-still img, .image-hover img {
  width: 100%;
  display: block;
}

.image-container:hover .image-hover {
  display: block;
}

.image-container:hover .image-still {
  display: none;
}