@font-face {
  font-family: headstone;
  src: url(../fonts/Headstone\ DEMO.ttf)
}

@font-face {
  font-family: headstone_itallics;
  src: url(./fonts/Headstone\ Italic\ DEMO.ttf)
}

body {
    background-image: url(../images/background.png);
    align-items: center;
    justify-items: center;
    font-family: "headstone", "Courier New", monospace;
}

.page-wrapper {
    width: 90%;
    height: 94vh;
    margin: 3% 5%;
    background-color: hsla(0 100% 100% / 0.3);
    border-radius: 15px;
    overflow: hidden;
}

.page-split {
  height: 100%;
  width: 100%;
  padding: 20px;
  position: relative;
}

.topnav {
  display: flex;
  height: 58px;
  justify-items: center;
  background-color: white;
  border-radius: 15px;
}

.topnav a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 50px;
  margin: 4px 2px;
  color: black;
  border-radius: 15px;
  text-decoration: none;
}

.topnav a:hover {
  background: lightgrey;
  color: midnightblue;  
}

.active-tab {
  background: lightgrey;
  color: midnightblue;   
}

.image-container {
  height: 45%;
  position: absolute;
  width: 25%;
  right: 5%;
  top: 0;
  border: red dashed 4px;
}

.sofa-container {
  height: 36%;
  width: 40%;
  max-width: 400px;
  position: absolute;
  bottom: 30%;
  left: 5%;
  border: blue dashed 4px;
}

.image-still, .sofa-still {
  display: block;
}

.image-hover, .sofa-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image-still img, .image-hover img, .sofa-still img, .sofa-hover img {
  width: 100%;
  display: block;
}

.image-container:hover .image-hover, .sofa-container:hover .sofa-hover {
  display: block;
}

.image-container:hover .image-still, .sofa-container:hover .sofa-still {
  display: none;
}

@media (max-width: 850px) {
  .image-container {
    height: 40vw;
    width: 40vw;
  }

  .topnav a {
    width: 30%;
  }
}