@font-face {
  font-family: headstone;
  src: url(../fonts/Headstone\ DEMO.ttf)
}

@font-face {
  font-family: headstone_itallics;
  src: url(./fonts/Headstone\ Italic\ DEMO.ttf)
}

body {
    background-image: url(../images/background.png);
    align-items: center;
    justify-items: center;
    font-family: "headstone", "Courier New", monospace;
}

.page-wrapper {
    width: 88%;
    height: 90vh;
    margin: 5% 6%;
    border: dotted blue 1px;
    overflow: hidden;
}

.page-split {
  height: 100%;
  width: 100%;
  padding: 20px;
}

.image-container {
  height: 300px;
  position: relative;
  float: right;
  margin: 15px;
  width: 300px;
}

.image-still {
  display: block;
}

.image-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.image-still img, .image-hover img {
  width: 100%;
  display: block;
}

.image-container:hover .image-hover {
  display: block;
}

.image-container:hover .image-still {
  display: none;
}