/* Font Faces */
@font-face {
  font-family: 'title';
  src: url(../fonts/Tagesschrift-Regular.ttf)
}

@font-face {
  font-family: 'initial';
  src: url(../fonts/capo_verso.ttf)
}

@font-face {
  font-family: 'text';
  src: url(../fonts/IMFellDWPica-Regular.ttf)
}

@font-face {
  font-family: 'itallics';
  src: url(../fonts/IMFellDWPica-Italic.ttf)
}

/* Base Styles */
* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/pattern.png");
    background-repeat: repeat;
    background-size: 500px;
    color: #2c2416;
    font-family: 'text';
    line-height: 1.6;
}

p {
    color: #3d3428;
    font-size: 16px;
    margin-bottom: 1em;
    text-align: left;
}

/* Back Button */
.back-wrapper {
    position: fixed;
    right: 4%;
    bottom: 6%;
    height: 240px;
}

.back-wrapper img {
    height: 240px;
}

.back-wrapper:hover img {
    transform: rotate(-3deg);
}

/* Feed */
.feed {
    display: flex;
    flex-direction: column;
    height: fit-content;
    margin: 2% auto;
    min-width: 30%;
    width: 35%;
}

/* Float Image */
.float {
    border: 4px solid #eabb2d;
    height: calc(width);
    width: 40%;
}

.right {
    float: right;
    margin: 0 0 1em 1em;
}

.left {
    float: left;
    margin: 0 1em 0 0;
}

/* Post */
.post {
    background-color: #fff;
    border: 8px solid #2f7b94;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin-bottom: 1em;
}

.post-content {
    padding: 2em;
}

.post-meta {
    color: #6b5d4f;
    font-family: "itallics";
    font-size: 13px;
    margin-bottom: 5%;
    text-align: center;
}

.post-summary p {
    color: #3d3428;
    font-size: 16px;
    margin-top: 1em;
    text-align: left;
}

.paragraph:first-letter {
    float: left;
    font-family: 'initial', 'Courier New', Courier, monospace;
    font-size: 110px;
    line-height: 1;
    margin-bottom: -0.3em;
    margin-right: 0.1em;
}

.post-tags {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
    padding: 2px 10px;
}

.post-title {
    color: #2c2416;
    font-family: 'title';
    font-size: 80px;
    margin: 0;
    line-height: 1.2;
    text-align: center;
}

.post-title-wrapper {
    align-items: center;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    margin-bottom: 2%;
}

/* Tag */
.tag {
    background-image: url(../images/background.png);
    border: 3px solid #2f7b94;
    color: #4a3f2e;
    font-size: 0.95em;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 15px;
}

.tag:hover {
    border: dotted;
}

/* Media Queries */
@media (max-width: 950px) {

    body {
        background-size: 300px;
    }

    .back-wrapper {
        position: fixed;
        right: 10px;
        bottom: 10px;
        height: 120px;
    }
    
    .back-wrapper img {
        height: 120px;
    }

    .feed {
        margin-top: 10%;
        width: 90%;
    }

    .float.left, .float.right {
        border: 3px solid #eabb2d;
        height: calc(width);
        margin: 5% auto;
        width: 95%;
        display: block;
        float: none;
    }

    .right, .left {
        float: none;
    }

    .post {
        width: 100%;
    }
    
    .post-content {
        font-size: 12px;
    }

    .post-summary p {
        font-size: 14px;
    }

    .post-summary::first-letter {
        font-size: 50px;
    }

    .post-title {
        font-size: 40px;
    }

    .tag {
        font-size: 12px;
    }
}