body {
    background-image: url("/images/background.png");
    background-repeat: repeat;
    background-size: auto;
    height: 100%;
    min-height: 400px;
    align-items: center;
    justify-items: center;
}